.ModalDelete1{
    width: 120vw;
    height: 100vh;
    position: fixed;
    top: -100%;
    left: -1%;
    /* transition: all 0.4s ease-in-out; */
    background-color: rgba(134, 129, 129, 0.453);
}
.ModalColumn{
    position: fixed;
    top: -100%;
    width: 40%;
    left: 30%;
    padding: 3% 2%;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
}
.ButtonsModalDelete{
    width: 30%;
    margin-left: 70%;
    display: flex;
    justify-content: space-around;
}
.Name-item{
    color: #be2d2d;
    font-weight: bolder;
}
.Price-item{
    font-weight: 700;
}