

@media screen and (min-width: 1201px){
    .Cards-subcategory{
        grid-template-columns: auto auto auto auto;
        margin: auto;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .Cards-subcategory{
        grid-template-columns: 30% 30% 30%;
        margin: auto;
    }
}
@media screen and (min-width: 571px) and (max-width: 991px) {
    .Cards-subcategory{
        grid-template-columns: 50% 50%;
        margin: auto;
    }
    .Dashboard{
        display: grid !important;
        grid-template-columns: 50% 50% !important;
    }
}
@media screen and (max-width: 570px) {
    .Cards-subcategory{
        grid-template-columns: 100%;
        margin: auto;
    }   
    .Dashboard{
        display: grid !important;
        grid-template-columns: 100% !important;
    }
}